div:not(.contenedor) {
 	height: 100px;
 	width: 200px;
 	
 }
 .contenedor {
 	border: 1px solid grey;
 }
 .amarillo{
 	background-color: yellow;
 }
 .azul {
 	background-color: #0066CC;
 }
 .pink {
 	background-color: #CC0033;
 }

